<div style="color: white; background-image: url('../assets/bsg-stars.png'); position: fixed; height: 100%; width: 100%;">
  <h1 style="text-align: center">Ghosts Are Real!</h1>
  <div class="card" style="width: 50%; margin: auto; color: black;">
    <h3>How Many Ghosts Are In Your Home?</h3>
    <p>Take this free test and find out!</p>
    <button (click)="initTestModal()" style="width: 10%; margin: auto" class="btn btn-danger">Help!</button>
  </div>
</div>
<div id="modal-container" class="hidden"></div>
<div id="modal-overlay" class="hidden"></div>
